/*tarjeta logue*/
.tarjeta-padre:hover .tarjeta
{
    transform: rotateY(180deg);
    perspective: 1000px;
}
.tarjeta {
   transform-style: preserve-3d;
   transition: all 600ms;
}
.tarjeta-frente, .tarjeta-dorso{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
.tarjeta-dorso
{
    transform: rotateY(180deg);
    border-radius: 10px;
}

/*fin de tarjeta de logueo*/


.spinning-text-wrapper {
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-weight: bold;
}

.spinning-text {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    animation: flor 50s linear infinite;
}

.spinning-text b 
{
  position: absolute;
  left: 50%;
  display: block;
  transform-origin: 0 45px;
  font-weight: normal;
  font-size: 10px;
}

@keyframes flor {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
